:ruby
  date_options = { "m-left" => "" }

  if is_blog_article?
    date_options["m-fixed"] = ""
  else
    date_options["m-absolute"] = ""
  end

.blog-page--post
  %h2.title
    = link_to article.title, article
  - date = article.date
  .blog-date(m-small)= date.strftime("%b %e, %Y")
  .blog-date{date_options}
    .blog-date--month= date.strftime("%b").upcase
    .blog-date--day(m-bold)= date.strftime("%e")
    .blog-date--year= date.strftime("%Y")

  - unless is_blog_article?
    = find_and_preserve do
      = article.summary
