---
pageable: true
---

- page_articles.each_with_index do |article|
  = partial :article, locals: { article: article, page: "list" }

.blog-pagination
  :ruby
    next_opts = {
      :class => "blog-pagination--previous-page",
      "m-left" => "",
      "m-no-underline" => ""
    }

    prev_opts = {
      :class => "blog-pagination--next-page",
      "m-right" => "",
      "m-no-underline" => ""
    }

  - if prev_page
    = link_to "Prev page", prev_page, next_opts
  .blog-pagination--current-page(m-middle) Page #{page_number} of #{num_pages}
  - if next_page
    = link_to "Next page", next_page, prev_opts
