<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    =stylesheet_link_tag 'blog'
  %body
    %header
      %a(href='/')
        %h1 Days of the Condor
    .page
      .content
        -if current_article
          %h2.title= current_article.title
          .date= current_article.date.strftime('%b %e, %Y')

        = yield
      %nav.sidebar.small
        %h2 Recent Articles
        %ul
          - blog.articles[0...10].each do |article|
            %li
              %a{:href => article.url}= article.title
              .date= article.date.strftime('%b %e, %Y')
