!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge;chrome=1" http-equiv="X-UA-Compatible")
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300|Libre+Baskerville"
    = stylesheet_link_tag "blog"
  %body
    = partial :header

    .blog-page
      .blog-page--container
        -if current_article
          = partial :article, locals: { article: current_article, page: "article" }

        = yield

    = partial :sidebar, locals: { blog: blog }
    = partial :analytics

    :javascript
      var nav = document.querySelector(".blog-information--recent-article-navigation")
      nav.addEventListener("click", function() {
        if (document.body.hasAttribute("s-slide-out")) {
          document.body.removeAttribute("s-slide-out")
        } else {
          document.body.setAttribute("s-slide-out", "")
        }
      })
